body{
	background-color:#245269;
}
ul{
	background-color:#FFFFFF;
}
h1{
	text-align: center;
	color:#FFFFFF;
}
#post{
	background-color:#ADADAD;
	border-style:solid;
	border-color:white;
	}

h2{
	text-align: center;
	
}